{
	frankenphp {
		worker {
            file ./public/index.php
            env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
        }
	}
}

:80 {
	root /app/public
	encode zstd br gzip

	file_server /build/*

	@phpRoute not path /build/*
	rewrite @phpRoute index.php
	@frontController path index.php
	php @frontController
}
