.wallpaper {
    width: 100%;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pgr {
    padding-top: 10px;
    padding-bottom: 10px;
}

.story {
    padding-top: 25px;
}

.flag {
    width: 32px;
}

.para-of-date {
    padding-top: 3px;
    padding-bottom: 3px;
}

.flag-of-date {
    width: 23px;
}

.text-link {
    color: #16a085;
}
